:root {
    --primary-color: #212227;
    --secondary-color: #6ace99;
    --accent-1: #4eb8e0;   
    --accent-2: #de5921;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.header-logo {
    font-size: 46px;
    font-weight: 800;
    margin-left: 18%;
}

.navbar-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: 18%;
    /* margin-left: auto; */
}

.navbar-items li{
    margin-right: 20px;
}

.main-landing {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    padding: 12px;
}

.landing-info {
    margin-left: 18%;
    width: 28%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.landing-title {
    font-size: 60px;
    font-weight: 900;
    padding-bottom: 8px;
}

.landing-body {
    font-style: italic;
}

.landing-button {
    padding: 12px 23px 12px 23px;
    background-color: var(--accent-1);
    color: var(--primary-color);
    border-radius: 12px;
    box-shadow: var(--accent-2);
    border: none;
}

.landing-button:hover {
    scale: 107%;
}

.landing-image {
    width: 32%;
    margin-right: 18%;
    margin-left: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    outline: 1px;
    outline-color: var(--secondary-color);
    outline-style: solid;
}